<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="bureau_de_change.Properties.Settings.easy_changeConnectionString"
            connectionString="Data Source=AITELBACHA-PC\SQL08;Initial Catalog=easy_change;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="bureau_de_change.Properties.Settings.Clienteasy_changeConnectionString"
            connectionString="Data Source=|DataDirectory|\easy_change.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>